<div class="design">
  <div class="index-registration py-32 max-w-2xl m-auto text-center flex flex-col items-center justify-center">
    <h1>Welcome to the Contact List!</h1>
    <h2 class="">View Contacts</h2>
    <%= link_to 'View Employees', employees_path, class: "margins btn btn-primary" %>
  </div>
</div>
