.btn-primary-design {
  background-color: orange;
  border: none;
  color: white;
  padding: 13px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}

.btn-primary-design:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

.btn-danger-design {
  background-color: red;
  border: none;
  color: white;
  padding: 13px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}

.btn-danger-design:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

.btn-success-design {
  background-color: #1EDD88;
  border: none;
  color: white;
  padding: 13px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}

.btn-success-design:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}
